.titlearea{
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.navBarRow{
    text-align: left;
    width: 100%;
    display: inline-flex;
    margin-left: 60px;
}

.navbarlink{
    display: inline-flex;
    text-align: center;
    margin-right: 30px;

    font-family: pt-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}


#contactheaderlink{
    display: inline-flex;
    text-align: center;
    margin-right: 30px;
    
    font-family: pt-sans-pro, sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 20px;

    Color: #F4BB29; 
}

.pagebreak{        
    border-top: 2px solid #bbb;
    margin-top: -5px;
    margin-bottom: -5px;
    width: 100%;
}

.homePageFeed{
    display: flex;
    height: 40%;
    position: absolute;
    margin-top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.newpostlink{
    display: flex;
    /* height: 250px;
    width: 250px; */
    margin-top: 40px;
    
}

.homepagepostheader{
    display: flex;
    margin-top: 10px;

    font-family: adelle-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.homepagepostdate{
    display: flex;
    margin-top: -15px;

    font-family: adelle-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
}

#firstrowhomepage{
    display: flex;
    flex-wrap: wrap;
    padding: 0 200px;
}

.homepagepost{
    margin-right: 40px;
}

.homepageimage{
    height: 250px;
    width: 250px;
}

.titlename{
    font-family: pt-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 10px;
}

.logoimage{
    width: 50px;
    height: 50px;
}

.homepagepostlocation{
    display: flex;
    position: absolute;
    margin-left: 5px;

    font-family: adelle-sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    width: max-content;

    background-color: black;
    padding: 4px;
}

a{
    color: currentColor;
    text-decoration: none;
}

a:hover{
    font-family: pt-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}
